(Imię Nazwisko -> ZastapInicjalami(Imię Nazwisko))
(Imię Imię Nazwisko -> ZastapInicjalami(Imię Imię Nazwisko))
(Imię Nazwisko-Nazwisko -> ZastapInicjalami(Imię Nazwisko-Nazwisko))
(Imię Imię Nazwisko-Nazwisko -> ZastapInicjalami(Imię Imię Nazwisko-Nazwisko))
